[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"

[dev-packages]
watchdog = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[requires]
python_version = "3.8"
